.App {
  max-width: 1000px;
  margin: 0 auto;
  color: white;
}

#cover img {
  width: 100%;
}

.shadow {
  box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.2);
}

#compagnies {
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
}

#nouveautes div {
  display: flex;
  justify-content: space-between;
}

.section-title {
  padding-top: 25px;
  margin: 0  0 10px 0;
}

#suggestions div {
  display: flex;
  justify-content: space-between;
}